@import "@fontsource/kanit";
@import "@fontsource/raleway";

.heroSectionContent {
  background: url("/images/b.jpg") no-repeat center center;
  background-size: cover;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.heroSectionContent .gridContainer {
  max-width: 1100px;
  margin: 0 auto;
}

.gridContainer .heroSectionText {
  text-align: left;
  padding: 20px;
  text-transform: capitalize;
}

.gridContainer .heroHeadingContent {
  font-size: 3.6rem;
  font-weight: bold;
  color: #c1d2e2;
  margin-bottom: 20px;
  font-family: "Kanit", serif;
}

.gridContainer .heroDescriptionContent {
  font-size: 1rem;
  line-height: 1.6;
  color: #d5dce4;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}

.gridContainer .heroButtonContent {
  display: flex;
  gap: 20px;
}

.gridContainer .heroButtonContent .heroButton2 {
  border-color: #007bff;
  color: #007bff;
  padding: 10px 20px;
  text-transform: none;
  font-size: 1rem;
  font-family: "Kanit", serif;
}

.gridContainer .heroButtonContent .heroButton2:hover {
  border-color: #0056b3;
  color: #0056b3;
}

.heroImage {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroButton1 {
  padding: 17px 20px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

.heroButton1:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.heroButton1:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

.button {
  padding: 0.8em 1.3em;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #2c9caf;
  background-color: black;
  font-family: "Raleway", serif;
}

.button:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #268391;
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #2c9caf;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button:hover::before {
  width: 250%;
}

@media screen and (max-width: 768px) {
  .heroSectionContent {
    padding: 20px;
    flex-direction: column;
  }

  .gridContainer .heroSectionText {
    padding: 15px;
    text-align: center;
  }

  .gridContainer .heroHeadingContent {
    font-size: 2.5rem;
  }

  .gridContainer .heroDescriptionContent {
    font-size: 0.9rem;
  }

  .heroImage {
    margin-top: 20px;
  }

  .heroButton1,
  .button {
    align-items: center;
    padding: 18px 15px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .gridContainer .heroHeadingContent {
    margin-top: 110px;
    font-size: 2.6rem;
  }

  .gridContainer .heroDescriptionContent {
    font-size: 0.9rem;
  }

  .heroButton1,
  .button {
    align-items: center;
    padding: 18px 15px;
    font-size: 1rem;
  }

  .heroBanner {
    max-width: 90%;
  }
}
